
  
  .jobs {
    display: flex;
    flex-direction: column;
   margin-left:3rem;
   
   width: 110%;
    margin-top: 0%;
  }
  
  .title-section {
    border-bottom: solid rgb(243, 243, 243) 0.25rem;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 1rem;
    padding: 0%;
  }
  
  .job-card {
    background-color: #fafafa;
    border: 1px solid #4a8acb;
    border-radius: 20px;
    margin: 30px 0;
    padding: 20px;
    width: 100%;
    max-width: 900px;
    text-align: left;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    padding-left: 80px; /* to accommodate profile image */
  }
  
  .jobs-title {
    color: #283f76;
    font-size: 30px;
    padding-bottom: -1rem;
  }
  
  .jobs-subtitle {
    color: #616161;
    font-size: 20px;
  }
  
  .jobpost-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 27px;
    color: black;
    margin-top: 2px;
  }
  
  .client-initials {
    font-size: 2.2rem;
    padding-left: 14px;
    padding-top: 4px;
    background: linear-gradient(to right, rgba(58, 55, 245, 1), #ffffff);
    width: 55px;
    height: 55px;
    border: solid navy;
    border-radius: 35px;
    color: black;
    position: absolute;
    top: 22px;
    left: 15px;
  }
  
  .jobpost-details {
    margin-top: 18px;
    margin-left:0;
  }
  
  .job-description {
    color: #6e6e6e;
    font-size: 18px;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .proposals {
    margin-top: 30px;
    margin-left: 0px;
  }
  
  .proposal-label {
    color: #243071;
  }
  
  .proposal-no {
    color: orange;
  }
  
  .location {
    font-size: 16px;
    color: #ff7f3e;
    margin: 5px 0;
    cursor: pointer;
  }
  
  .payment {
    background-color: white;
    height: fit-content;
    margin-left: -2%;
    padding: 5px;
    border-radius: 10px;
    margin-top: -3px;
    border: #4caf50 3px solid;
    color: #4caf50;
    font-size: 16px;
    display: flex;
  }
  
  .date {
    border: solid #9e9d9d 2px;
    border-radius: 25px;
    color: black;
    font-size: 15px;
    background-color: #f5f5f5;
    padding: 5px;
    padding-left: 10px;
    height: fit-content;
  }
  /*alljobs added code for admin*/
  .delete-btn{
    background-color:rgb(139, 6, 6);
    color: rgb(255, 255, 255);
    border:  none;
    border-radius: 10px;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 16px;
    width: 20%;
    position: absolute;
    margin-top: -2.6rem;
    top: 20px;
    right: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }
  .delete-btn:hover {
   
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    transform: scale(1.15);
    
  }
  .trashcan{
    margin-left: 10px;
  }
  /*-------------------------------------------------------------------*/
  
  .time {
    font-size: 14px;
    color: #ffda78;
    position: absolute;
    top: 4.8rem;
    margin-bottom: 20px;
    height: fit-content;
    left: 5.1rem;
    margin-top: 0rem;
  }
  
  .location-details {
    font-style: italic;
    color: #333333;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .estimated-hours {
    border: #00bcd4 solid 2px;
    border-radius: 25px;
    color: #333333;
    height: fit-content;
    padding: 5px;
    padding-left: 10px;
  }
  
  .pdel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
  }
  
 
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 4rem;
  }
  
  .pagination button {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 5px 10px;
    color: black;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .pagination button:hover {
    background-color: #ddd;
  }
  
  .pagination button.active {
    background-color:#ff7f3e;
    color: rgb(0, 0, 0);
  }
  
  /* Responsive styles */
  @media (max-width: 780px) {
    .jobs-title {
      font-size: 24px;
    }
  
    .jobs-subtitle {
      font-size: 18px;
    }
  
    .job-card {
      padding: 15px;
      padding-left: 60px;
    }
  
    .jobpost-title {
      font-size: 22px;
      margin-left:10px;
    }
  
    .job-description {
      font-size: 16px;
    }
  
    .apply-btn {
      width: 30%;
      top: 15px;
      right: 20px;
      font-size: 14px;
    }
  
    .time {
      font-size: 13px;
      top: 4.2rem;
      margin-top: 22px;
      left: 4.5rem;
    }
  }
  
  
  @media (max-width: 680px) {
    .jobs-title {
      font-size: 22px;
    }
  
    .jobs-subtitle {
      font-size: 16px;
    }
  
    .job-card {
      padding: 10px;
      padding-left: 50px;
    }
  
    .jobpost-title {
      font-size: 20px;
      margin-left: 25px;
    }
  
    .job-description {
      font-size: 14px;
    }
  
    .apply-btn {
      width: 40%;
      top: 10px;
      right: 10px;
      font-size: 12px;
    }
  
    .time {
      font-size: 14px;
      top: 3.6rem;
      margin-top: 10px;
      left: 4.6rem;
    }
  
    .pdel {
      margin-left: 0;
      margin-right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
    }
  
    .estimated-hours, .date, .payment {
      display: flex;
      margin-left: 0;
      margin-top: 5px;
      margin-right: 0;
      flex-direction: column;
    }
  }
  