/* Footer.css */

.footer {
    background: linear-gradient(to right, #007b7b, #003366);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    padding: 20px;
}

.logo {
    max-width: 100px;
}

.footer-section h2 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
}

.footer-bottom {
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
}
