.service-box {
    width: 100%;
    max-width: 8cm;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
  }
  
  .service-image {
    width: 100%;
    height: 6cm;
    object-fit: cover;
  }
  
  .service-title {
    padding: 10px 0;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .service-description {
    padding: 0 10px 10px;
    font-size: 1.3em;
  }
  