.top-search-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  
  .greeting {
    margin-top: 20px;
  }
  
  .search-container {
    position: relative;
    margin-left: 200px;
    width: 80%;
  }
  
  .search-input {
    width: 100%;
    padding: 15px;
    padding-right: 40px; /* add padding to the right to make room for the icon */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 15px;
  }
  
  .search-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
  }
  
  .separator {
    width:50rem;
    border: none;
    border-top: 1px solid #ccc;
    margin: 0;
    margin-top: 10px;
  }
  