.admin-verify-user .content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-left: 420px; /* Adjust as needed */
  flex: 1;
  background-color: #ffffff; /* Background color for content area */
}

/* Other styles specific to AdminJobPosts */
.admin-verify-user {
  display: flex;
}

.verification-requests {
  margin-top: 20px;
 margin-bottom: 2rem;
}

.verification-card {
  display: flex;
  align-items: center;
  background-color: #fdfcfb;
  border: 1px solid #4a8acb;
  border-radius: 2rem;
  padding: 20px;
  margin-bottom: 2rem;
width: 90%;
  box-shadow: 0 4px 8px rgba(110, 84, 39, 0.1);
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.user-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.user-info h3 {
  
  margin-bottom: 10px;
}

.accept-button,
.decline-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.accept-button {
  background-color: #28a745;
  color: #fff;
}

.accept-button:hover {
  background-color: #218838;
}

.decline-button {
  background-color: #dc3545;
  color: #fff;
}

.decline-button:hover {
  background-color: #c82333;
}

.documents {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.document-section {
  margin-bottom: 10px;
}

.document-section h4 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
}

.document-section a {
  display: block;
  color: #007bff;
  text-decoration: none;
}

.document-section a:hover {
  text-decoration: underline;
}
