* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .admin-dashboard  {
    display: flex;
    
    margin-left: 400px;
  }
  
  
  .sidebar {
    width: 20%;
    background-color: #2c3e50;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .user-info {
    margin-bottom: 20px;
  }
  
  .navigation ul {
    list-style: none;
    width: 100%;
  }
  
  .navigation li {
    padding: 10px;
    border-bottom: 1px solid #34495e;
    cursor: pointer;
  }
  
  .navigation .badge {
    background-color: #e74c3c;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    margin-left: 10px;
  }
  
  .logout-button {
    margin-top: auto;
    padding: 10px 20px;
    background-color: #e74c3c;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .content {
    width: 80%;
    padding: 20px;
  }
  
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .header h1 {
    margin-right: 20px;
  }
  
  .booking-count {
    font-size: 24px;
    background-color: #e67e22;
    color: white;
    border-radius: 50%;
    padding: 10px 20px;
  }
  

  
  .booking-table {
    width: 100%;
    border-collapse: collapse;
    
  }
  
  .booking-table th, .booking-table td {
    border: 1px solid #ddd;
    padding: 30px;
    text-align: left;
  }
  
  .status-active {
    color: green;
  }
  
  .status-completed {
    color: blue;
  }
  
  .status-done {
    color: green;
  }
  
  .status-not-done {
    color: red;
  }
  